.Section_Footer {
  height: 430px;
  margin-top: 10px;
  position: relative;
  overflow-y: hidden;
  align-items: flex-end;
  display: grid;
  // padding-bottom: 180px;
  background-color: #fff;
  z-index: 999;
  .BackGround_Img {
    position: absolute;
    top: 0;
    animation: Rotate_Img 40s infinite linear;
  }
  @keyframes Rotate_Img {
    0% {
    }
    50% {
      transform: translate3d(20.7rem, -2rem, 1rem);
    }
    100% {
    }
  }
  .Footer {
    // @include GridRowmaxmax();
    display: grid;
    grid-template-rows: repeat(2), max-content;
    gap: 20px;
    // padding: 0px 100px;
    align-items: flex-end;
    .Links {
      z-index: 999;
      padding: 20px 0px;
      display: grid;
      grid-template-columns: repeat(5, max-content);
      gap: 20px;
      border-top: 2px solid rgb(183, 183, 204);
      margin: 0px 80px;
      justify-content: center;
      .FooterLink {
        text-decoration: none;
        font-size: 14.6px;
        color: #3f4346;
        cursor: pointer;
        font-weight: 400;

        &:hover {
          opacity: 70%;
        }
        &:nth-child(1) {
          &:hover {
            opacity: 100%;
          }
        }
      }
    }
    > p {
      text-align: center;
      color: #737474;
      font-size: 14px;
      font-weight: 400;
      width: 85vw;
      margin: auto;
    }
  }
  .Base {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    background-color: rgb(210, 138, 75);
    color: #fff;
    font-size: 13px;
  }
}
